<!DOCTYPE html>
<head>
    {{ encore_entry_link_tags('login') }}
    
    
    <meta name="csrf-token" content="{{ csrf_token('get-item') }}">
</head>

<body>

    <div id="content"></div>

</body>

{{ encore_entry_script_tags('login') }}
