<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <head>
    {{encore_entry_link_tags('dashboard')}}
    </head>

    <body>

        <div id="content"></div>

    </body>

    {{encore_entry_script_tags('dashboard')}}
</html>