{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="0; url=/" />
    <title>Redirecting...</title>
</head>
<body>
    <p>Redirecting to login page...</p>
</body>
</html>